.containers{
    position: relative;
    margin-top: -250px;
    max-width: 500px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;

    .form{

        input{
            width: 100%;
            height: auto;
            padding: 15px 30px;
            margin: 15px 0;
            border-radius: 5px;
            outline: 0;
            border: 0;
            -webkit-box-shadow: 0px 0px 32px -15px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 32px -15px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 32px -15px rgba(0,0,0,0.75);
    
        }

        button{
            position: relative;
            top: -57px;
            left: 402px;
            color: #444;
            border: 0;
            background-color: transparent;
        }

    }

    h1{
        color: #fff;
        font-weight: bold;
    }

    
}

.alert{
    position: fixed;
    width: 30%;
    top: 20px;
    left: 35%;
    text-align: center;
    font-weight: bold;
}

.todo-list{
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 32px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -15px rgba(0,0,0,0.75);


    ul{
        margin: 0;
        padding: 0;

        li{
            font-weight: 500;
            padding: 15px 25px 15px 30px;
            list-style-type: none;
            border-bottom: 1px solid #dfdfdf;
            color: #444;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            
            &:hover{
                color: #fff;
                background-color: rgb(77,25,208);
            }

            &:last-child{
                border: 0;
            }

            span{
                position: relative;
                top: -5px;
                font-size: 1.2em;
                float: right;
                transition: all 0.3s ease-in-out;
                text-align: center;
            }
        }
    }
}